:root{
    --azul-oscuro: #0E1728;
    --rojo: #F13C4E;
    --celeste: #4D86C9;
    --azul: #25334C;
    --verde: #4EBD97;
    --verde-claro: #C2E3E8;
    --amarillo: #FFD168;
}

body{
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
.contenido{
    padding: 15px;
    text-align: center;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}


.EXTRA, .IMAGE, .BANNER{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

/* Pantalla Mobile (hasta 600px) */
@media (max-width: 600px) {
    .main-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4);
        grid-template-rows: repeat(7);
        grid-template-areas: 
        "n1 n1 n1 n1"
        "n2 n2 n2 n2"
        "n3 n3 n3 n3"
        "n4 n4 n4 n4"
        "n7 n7 n7 n7"
        "n5 n5 n5 n5"
        "n6 n6 n6 n6"
        ;
    }

    .HEADER{
        background-color: var(--azul-oscuro);
        grid-area: n1;
    }

    .MENU{
        background-color: var(--rojo);
        grid-area: n2;
    }

    .HERO{
        background-color: var(--celeste);
        grid-area: n3;
        height: 184.5px;
    }

    .MAIN{
        background-color: var(--azul);
        grid-area: n4;
        height: 184.5px;
    }


    .EXTRA{
        background-color: var(--verde);
        grid-area: n5;
        height: 100px;
    }

    .IMAGE{
        background-color: var(--verde-claro);
        grid-area: n6;
        height: 100px;
    }

    .BANNER{
        background-color: var(--amarillo);
        grid-area: n7;
        height: 100px;
    }
  }
  
/* Pantalla Tablets (601px a 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    
    .main-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4);
        grid-template-rows: repeat(7);
        grid-template-areas: 
        "n1 n1 n1 n1"
        "n3 n3 n3 n3"
        "n3 n3 n3 n3"
        "n2 n4 n4 n4"
        "n2 n4 n4 n4"
        "n2 n7 n7 n7"
        "n2 n5 n5 n6"
        ;
    }

    .HEADER{
        background-color: var(--azul-oscuro);
        grid-area: n1;
    }

    .MENU{
        background-color: var(--rojo);
        grid-area: n2;
        height: 415px;
    }

    .HERO{
        background-color: var(--celeste);
        grid-area: n3;
        height: 300px;
    }

    .MAIN{
        background-color: var(--azul);
        grid-area: n4;
        height: 200px;
    }


    .EXTRA{
        background-color: var(--verde);
        grid-area: n5;
        height: 100px;
    }

    .IMAGE{
        background-color: var(--verde-claro);
        grid-area: n6;
        height: 100px;
    }

    .BANNER{
        background-color: var(--amarillo);
        grid-area: n7;
        height: 115px;
    }

}
  
/* Pantallas Desktop(1025px en adelante) */
@media (min-width: 1025px) {
    .main-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4);
        grid-template-rows: repeat(6);
        grid-template-areas: 
        "n1 n2 n2 n2"
        "n3 n3 n3 n3" 
        "n3 n3 n3 n3"
        "n4 n4 .. n5"
        "n4 n4 .. n6"
        "n7 n7 n7 n7"
        ;
    }

    .HEADER{
        background-color: var(--azul-oscuro);
        grid-area: n1;
        height: 50px;
    }

    .MENU{
        background-color: var(--rojo);
        grid-area: n2;
        height: 50px;
    }

    .HERO{
        background-color: var(--celeste);
        grid-area: n3;
        height: 400px;
    }

    .MAIN{
        background-color: var(--azul);
        grid-area: n4;
        height: 200px;
    }


    .EXTRA{
        background-color: var(--verde);
        grid-area: n5;
        height: 100px;
    }

    .IMAGE{
        background-color: var(--verde-claro);
        grid-area: n6;
        height: 100px;
    }

    .BANNER{
        background-color: var(--amarillo);
        grid-area: n7;
        height: 115px;
    }
}
  